.footer-wrapper {
  .copyright-text {
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .social-icon {
    border-radius: 50%;
    display: block;
    &:hover {
      transform: scale(1.2);
    }
  }
  .footer-logo {
    margin-right: 80px;
  }
  .fcc-logo-social-icons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .footer-wrapper {
    .copyright-text {
      padding-bottom: 0px;
      font-size: 0.8rem;
      text-align: center;
    }
    // .social-icon {
    //   top: -40px;
    //   left: 200px;
    //   margin-bottom: -60px;
    // }
    // .fcc-footer-logo {
    //   position: relative;
    //   left: 40px;
    //   margin-bottom: -25px;
    // }
    .fcc-logo-social-icons-wrapper {
      height: 140px;
    }
  }
}
